<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/ionic-dropdown.js"></script>
  </head>
  <body ng-app="starter" ng-controller="MainCtrl">
    <ion-content padding="true">
        <div>
      <h2> <a href="https://github.com/scientech-com-ua/ionicDropdown">Method #1</a></h2>
      <button ion-dropdown title="Choose the color, Please">
          <label ng-repeat="item in colors" class="item item-radio" ng-class="{'checked': item.checked }">
            <input type="checkbox" ng-model="item.checked">
            <div class="item-content">
              {{ item.name }}
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
      </button>
    </div>
    <br><br>
    <hr/>
    <div>
      <h2> <a href="http://jesusjzp.github.io/blog/2014/06/05/ng-select-example/">Method #2</a></h2>
      <div> Color (null not allowed):
        <select ng-model="myColor" ng-options="color.name for color in colors" ng-change="dosth(myColor)"></select><br>

        Color (null allowed):
        <span  class="nullable">
          <select ng-model="myColor" ng-options="color.name for color in colors" ng-change="dosth(myColor)">
            <option value="">-- choose color --</option>
          </select>
        </span><br/>

        Color grouped by shade:
        <select ng-model="myColor" ng-options="color.name group by color.shade for color in colors" ng-change="dosth(myColor)">
        </select><br/>


        Select <a href ng-click="myColor = { name:'not in list', shade: 'other' }">bogus</a>.<br>
        <hr/>
        Currently selected: {{ {selected_color:myColor}  }}
        <div style="border:solid 1px black; height:20px" ng-style="{'background-color':myColor.name}"> </div>
      </div>
    </div>
    </ion-content>
  </body>
</html>
